body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

p {
    margin-bottom: 20px;
    color: #cccccc;
}

#sidebar {
    width: 350px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #252525; 
    color: #f8f8f8; 
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

#sidebar h2, .palette-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.palette {
    margin-bottom: 20px;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

.color-sample {
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    position: relative;
}

.copy-hex-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.copy-hex-btn:hover {
    background-color: #4a4a4a;
}

.palette-title {
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
}


button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #777777;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666666;
}

#color-palette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#monochromatic-palette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#custom-monochromatic-palette {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

select {
    background-color: #222;
    color: #fff;
    border: 1px solid #555;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px; 
}

input[type="color"] {
    border: 1px solid #222; 
    height: 35px; 
    width: 35px; 
    appearance: none;
    -webkit-appearance: none; 
    padding: 0; 
    cursor: pointer; 
    vertical-align: middle;
}

input[type="color"]:focus {
    outline: none; 
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.copy-button {
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.copy-button:hover {
    background-color: #555;
}

.color-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

@media (max-width: 768px) {
    .color-container {
        flex-direction: column;
    }
}